---

---

<section class="grid"><slot /></section>

<style>
	.grid {
		flex-grow: 0;
		display: inherit;
		max-width: 100%;
		flex-basis: 100%;
		height: auto;
		margin: 0px;
		box-sizing: border-box;
		padding: 10px;
	}
</style>
