---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Crédits">
	<h1>Crédits</h1>

	<p>
		Ce projet a été réalisé par l'équipe <b>La Ferme Digitale</b> au cours du hackathon
		<b>GAIA Mistral</b>, organisé durant le <b
			>Salon International de l'Agriculture 2024
		</b>
	</p>

	<h3>Participants</h3>

	<ul>
		<li>Tessa Bergounhon</li>
		<li>Robert Gray</li>
		<li>Sylvain Jessionesse</li>
		<li>Ivan Kolomiets</li>
		<li>Elliott Lépine</li>
		<li>Fabiola Martinez</li>
		<li>Achille Thin</li>
		<li>Joffrey Tranchat</li>
		<li>Roland Zimmermann</li>
	</ul>

	<h3>Entreprises</h3>

	<ul>
		<li>La Ferme Digitale</li>
		<li>COMESPOXIUM</li>
		<li>Mistral AI</li>
		<li>Baoba Open Business Agriculture</li>
		<li>Brad Technology</li>
		<li>Genesis</li>
		<li>MyEasyFarm</li>
		<li>PILOTER SA FERME</li>
	</ul>
</Layout>
