---
const path = Astro.url.pathname
---

<nav>
	<header>
		<div class="col">
			<h1>🌱 Trouve-ma-rotation</h1>
		</div>
		<div class="col center">
			<a href="/" class={path === "/" ? "active" : ""}>Commencer</a>
			<a href="/with-telepac" class={path === "/with-telepac" ? "active" : ""}>Utiliser un fichier Telepac</a>
		</div>
		<div class="col right">			
			<a href="/credits">Crédits</a>
		</div>
	</header>
</nav>

<style>
	nav {
		height: 4rem;
		/*transform: translateY(-100%) translateZ(0px);*/
		 /* --tw-backdrop-saturate: saturate(1.5);
		backdrop-filter: blur;  */
		backdrop-filter: blur(25px);
		background-color: rgba(255, 255, 255, 0.95)
		height: auto;
		top: 0;
		left: 0;
		right: 0;
		position: sticky;
		box-shadow: 0 12px 20px 6px rgb(104 112 118 / 0.08);
		z-index: 9000;
	}

	nav h1 {
		background: linear-gradient( 140deg,#69cda3,#139e8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}

	nav a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #2c2c2c;
		border-radius: 10px;
		padding: 10px;
		transition-duration: 0.25s;
	}

	nav a:hover {
		color: #272727;
		background-color: #ebebeb;
	}

	.active {
		color: #3DC798!important;
	}

	header {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		gap: 1em;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;
		max-width: 1024px;
		width: 100%;
		display: flex;
		z-index: 40;
		position: relative;
	}

	.col {
		text-decoration-line: none;
		background-color: transparent;
		white-space: nowrap;
		justify-content: center;
		align-items: center;
		display: flex;
		gap: 1rem;
		flex-wrap: nowrap;
		flex-direction: row;
		height: 100%;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}
</style>
